body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

#productos {text-align:center;
    display:block;
    align-content: center;
    
}

.producto {display:inline-block;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin:1px 1px;
    padding:1px 6px;
    width: calc(90% - 25px);
    max-width:360px;
}

.producto img {border-radius:5px;
    max-width: 100%;
}

.botonwhatsapp{width:50px; height:50px; 
    background-size:100% 100%; border:1px;
    border-radius:10px;
    background-image:url("Whatsapp_icon.png");}

footer {
    text-align: center;
    padding: 20px;
    background: #35424a;
    color: #ffffff;
}
#divproductos{align-items: center;
    align-content: center;
}

.icongroupwhats{display:inline-block;
    width:80px;
    border-radius:5px;
    position:absolute;
    top:6px;
    left:6px;
}
.tituloper{
    font-size:20px;
}